@model Esraa_Store.Models.LastestPro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LastestPro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestProImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestProImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestProTilte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestProTilte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LatestProId">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back</a>
</div>
